<a href="https://colab.research.google.com/github/Vigneswarsiddu/Python-Basics-for-Machine-Learning/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Author: K. VIGNESWAR SIDDU Email ID: vigneswarsiddu07@gmail.com**

Two Types of Objects in Python:
1. Immutable Object - whose values cannot be changed once it's created
2. Mutable Object - whose values can be changed once it's created

Immutable Object:
1. int
2. float
3. str
4. bool
5. tuple

Mutable Object:
1. List
2. Set
3. Dictionary

# List

In [1]:
# Represent in [ ] brackets
my_list=[1,2,3,4,5,6,7]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 6, 7]

list

In [2]:
# It can have multiple data types
my_list=[2,3,4.5,3.4,"Siddu",True]
print(my_list)
type(my_list)

[2, 3, 4.5, 3.4, 'Siddu', True]

list

In [4]:
# As List are Mutable - which means whose values can be changable once Created
my_list=[3,4,5,6,7,8,9]
# to add
my_list.append(6)
print(my_list)

[3, 4, 5, 6, 7, 8, 9, 6]

In [5]:
# checking with the index values
print(my_list[1])
print(my_list[2])

4
5

In [6]:
#list will allow duplicate numbers where as SET won't
my_list=[1,1,2,2,3,3,4,4,5,5]
print(my_list)
print(my_list[0:4])

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
[1, 1, 2, 2]

In [7]:
print(len(my_list))

10

In [8]:
# Empty List
my_list=[]
print(my_list)

[]

In [10]:
# add values into empty list one by one
# here I ran the cell two times So it added up for two times into the list
my_list.append(5)
my_list.append(6)
my_list.append(7)
print(my_list)

[5, 6, 7, 5, 6, 7]

In [11]:
# Delete in list
del my_list[0:2+1]
print(my_list)

[5, 6, 7]

In [12]:
#join two lists
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
#contatination
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [13]:
# Tuples are Immutable - which means the values cannot be changed
#Represents in ( )
tuple1=(1,2,3,4,5)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5)

tuple

In [14]:
# It allows mutliple datatypes
tuple1=(2,3,4,5.6,6.5,"Siddu")
print(tuple1)
type(tuple1)

(2, 3, 4, 5.6, 6.5, 'Siddu')

tuple

In [15]:
#converting list into a Tuple
tuple1=tuple(list3)

In [16]:
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
# check Whether we can change values in tuple
# OUTPUT: It throws error beacuse its Immutable
tuple1.append(6)

AttributeError: ignored

# Set

In [19]:
# Represents in { }
# Set are Mutable
set1={1,2,3,4,5}
print(set1)
type(set1)

{1, 2, 3, 4, 5}

set

In [20]:
# Here Set Doesn't Support Indexing It throws Error
print(set1[2])

TypeError: ignored

In [22]:
#Convert a list to set
set3=set(list1)
print(set3)

{1, 2, 3, 4, 5}

In [23]:
# Set doesn't Allow duplicate numbers
set4={1,1,2,2,3,3,4,4,5,5}
print(set4)

{1, 2, 3, 4, 5}

# Dictionary

It has Key-Value Pair

In [24]:
# represents in { }
#key - value Here name is key, Siddu is Value
my_dict={'name':'Siddu','age':20,'State':'AP','Country':'India'}
print(my_dict)
type(my_dict)

{'name': 'Siddu', 'age': 20, 'State': 'AP', 'Country': 'India'}

dict

In [25]:
# Here to print the Value you need to call the key
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['Country'])

Siddu
20
India

In [27]:
#It doesn't allow duplicate
my_dict={'name':'Siddu','age':20,'State':'AP','Country':'India','name':'Siddu','age':20,'State':'AP','Country':'India'}
print(my_dict)

{'name': 'Siddu', 'age': 20, 'State': 'AP', 'Country': 'India'}