<a href="https://colab.research.google.com/github/Vigneswarsiddu/Python-Basics-for-Machine-Learning/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Author: K. VIGNESWAR SIDDU Email ID: vigneswarsiddu07@gmail.com**

Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operators
5. Identify Operators
6. Membership Operators

# 1. Arthemetic Operators

In [5]:
a=10
b=20

#addition
add=a+b
print("sum is = ",add)

#subtraction
sub=a-b
print("Difference is = ",sub)

#Multiplication
prod=a*b
print("Product is =",prod)

#division
divi=a/b
print("Quotient is =",divi)

#modulus #Remainder
modu=a%b
print("Remainder is =",modu)

#exponential represents **
exp=a**b # 10^20
print("Power is =",exp)

sum is =  30
Difference is =  -10
Product is = 200
Quotient is = 0.5
Remainder is = 10
Power is = 100000000000000000000

# 2. Assignment Operators

In [6]:
a=10
print(a)
b=5
b+=5 #b=b+5; initially b=5 then updated b=5+5=10
print(b)

10
10

# 3. Comparable Operators

In [9]:
a=10
b=20
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
True
False

# 4. Logical Operators

and , or, not

In [12]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>5)) # Its true but Not gives you False

False
True
False

# 5. Identity Operators

is,
is not

In [14]:
x=10
y=10
print(x is y)
print(x is not y)

True
False

# 6. Membership Operator

It checks whether the value it belong to list
in, not in

In [15]:
a=4
b=7
c=[1,2,3,4,5,6,7,8,9]
print(a in c)
print(b in c)
print(b not in c)

True
True
False